.footer{
    border-top: 2px solid #efefef;
    margin-top: 460px;
    margin-bottom: 30px;

}
.text{
    font-family: calibril_1;
    color: #636e72;
    font-size: 25px;
    font-weight: bold;
}